[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
pytest = "*"
jinja2 = "*"
pyjwt = "*"
flask-mail = "*"
flask-bootstrap = "*"
flask-moment = "*"
flask-babel = "*"
guess-language-spirit = "*"
requests = "*"
python-dotenv = "*"
elasticsearch = "*"
gunicorn = "*"
psycopg2="*"

[dev-packages]

[requires]
python_version = "3.6"
