<!-- all posts -->
{% if posts %}

    {% for post in posts %}
        <table>
            <tr valign="top">
                <td><img src="{{ post.author.pull_avatar(36) }}"></td>
                <td>{{ post.author.username}} says ...<b>{{ post.body }}</b></td>
            </tr>
            <tr>
                {% if current_user.is_following(post.author) %}
                <td><a href="{{ url_for('unfollow', username=post.author.username) }}">unfollow</a></td>
                {% else %}
                <td><a href="{{ url_for('follow', username=post.author.username) }}">follow</a></td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}

{% else %}
    <p>No blog posts to show!</p>
{% endif %}