<!-- all posts -->
{% if posts %}

    {% for post in posts %}
        <table>
            <tr valign="top">
                <td><img src="{{ post.author.pull_avatar(36) }}"></td>
                <td>
                    <a href="{{ url_for('user', username=post.author.username) }}">
                        {{ post.author.username }}
                    </a>
                    says ...
                    <b>{{ post.body }}</b><br>
                    {{ post.timestamp.date() }}
                </td>
            </tr>
            <tr>
                {% if current_user.username == post.author.username %} <!-- current users blog post should not allow following self -->
                    <td><p>me</p></td>
                {% elif current_user.is_following(post.author) %}
                    <td><a href="{{ url_for('unfollow', username=post.author.username) }}">unfollow</a></td>
                {% elif not current_user.is_following(post.author) %} <!-- explicit logic for readability -->
                    <td><a href="{{ url_for('follow', username=post.author.username) }}">follow</a></td>
                {% endif %}
            </tr>
        </table>
    {% endfor %}

    {% if prev_page %}<a href="{{prev_page}}">previous</a>{% endif %}
    {% if next_page %}<a href="{{next_page}}">next</a>{% endif %}

{% else %}
    <p>No blog posts to show!</p>
{% endif %}