<!-- all posts -->
{% if posts %}
    <table class="table table-hover">
    {% for post in posts %}

            <td valign="top">
                <td><img src="{{ post.author.pull_avatar(36) }}"></td>

                <td>
                    {% set user_link %}
                    <span class="user_popup">
                        <a href="{{ url_for(Action.user, username=post.author.username) }}">
                            {{ post.author.username }}
                        </a>
                    </span>
                    {% endset %}

                    {{
                    _('%(username)s said %(when)s',
                    username=user_link,
                    when=moment(post.timestamp).fromNow())
                    }}
                    <br/>

                    <span id="post{{ post.id }}">
                        {{ _(post.body) }}
                    </span> <!-- id for ajax -->


                    {% if post.language and post.language != g.locale %}
                    {# if the post's language does not equal the client side language preference. #}
                    <br/><br/>

                    <span id="translation{{ post.id }}">
                        <a href="javascript:translate(
                                                        '#post{{ post.id }}',
                                                        '#translation{{ post.id }}',
                                                        '{{ post.language }}',
                                                        '{{ g.locale }}'
                                                    );">
                            {{ _('Translate') }}
                        </a>
                    </span>
                    <!-- end post span -->
                    {% endif %}
                </td>

                <td>
                {% if current_user.username == post.author.username %} <!-- current users blog post should not allow following self -->
                    <p>{{ _('me') }}</p>
                {% elif current_user.is_following(post.author) %}
                    <a href="{{ url_for(Action.unfollow, username=post.author.username) }}">{{ _('unfollow') }}</a>
                {% elif not current_user.is_following(post.author) %} <!-- explicit logic for readability -->
                    <a href="{{ url_for(Action.follow, username=post.author.username) }}">{{ _('follow') }}</a>
                {% endif %}
                </td>
            </tr>
    {% endfor %}
    </table>

    <nav aria-label="...">
        <ul class="pager">
            <li class="previous {% if not prev_page %} disabled {% endif %}">
                <a href="{{ prev_page or '#' }}">
                    <span aria-hidden="true">&larr;</span>{{ _('Newer posts') }}
                </a>
            </li>
            <li class="next {% if not prev_page %} disabled {% endif %}">
                <a href="{{ next_page or '#' }}">
                    {{ _('Older posts') }}<span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>

{% else %}
    <p>{{ _('No blog posts to show!') }}</p>
{% endif %}