{% extends "base.html" %}

{% block app_content %}

{% if current_user == user %} <!-- this is the current_user page -->
    <p><a href="{{ url_for('edit_profile') }}">Edit Profile</a></p>
{% elif current_user.is_following(user) %} <!-- current_user relationship to user passed in -->
    <p><a href="{{ url_for('unfollow', username=user.username) }}">unfollow</a></p>
{% elif not current_user.is_following(user) %} <!-- current_user relationship to user passed in -->
    <p><a href="{{ url_for('follow', username=user.username) }}">follow</a></p>
{% endif %}

<table>
    <tr valign="top">
        <td><img src="{{ user.pull_avatar(128) }}"></td>
        <td>
            <h1>User: {{ user.username }}</h1>
            <p>{% if current_user != user and user.is_following(current_user) %} (follows you) {% endif %}</p>
            <br>
            <p>last seen:
                {% if user.last_visited %}
                    {{ moment(user.last_visited).format('LLL') }}
                {% else %}
                    no info
                {% endif %}</p>
            <br><p>followed by: {{ user.followers.count() }}, follows: {{ user.followed.count()}}</p>
        </td>
    </tr>
    <tr>
        <td>about {{ user.username }}:</td>
        <td>{% if user.about_me %} {{ user.about_me }} {% else %} No information {% endif %}</td>
    </tr>
    <hr>
</table>

<h2>{{ user.username }}'s Blog Posts:</h2>

{% include "_posts.html" %}
{% endblock %}