<table class="table">
    <tr>
        <td width="64" style="border: 0px;">
            <img src="{{ user.pull_avatar(128) }}">
        </td>
        <td style="border: 0px;">
            <p>
                <a href="{{ url_for(Action.user, username=user.username) }}">
                    {{ user.username }}
                </a>
                {% if current_user != user and user.is_following(current_user) %}
                    (follows you)
                {% endif %}
            </p>

            <p>last seen:
                {% if user.last_visited %}
                    {{ moment(user.last_visited).format('LLL') }}
                {% else %}
                    {{ _('no information') }}
                {% endif %}</p>
            <br>
            <p>
                {{ _('followed by') }}: {{ user.followers.count() }},
                {{ _('follows') }}: {{ user.followed.count()}}
            </p>
        </td>
    </tr>
    <tr>
        <td>
            {{ _('about') }} {{ user.username }}:
        </td>
        <td>
            {% if user.about_me %}
                {{ _(user.about_me) }}
            {% else %}
                {{ _('No information') }}
            {% endif %}
        </td>
    </tr>
</table>
